# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
vendor/

# Go workspace file
go.work
go.work.sum

# gRPC generated code
swarm/grpc/*.pb.go

# Binary data
bin/
__debug_bin

# VSCode data
pkg/.vscode/launch.json
.vscode/launch.json

# removing sesetive data
..bfg-report/

# removing dynamic content and test data
.bash_history
data/
test/
*.db
*.sock
*.cert
*.crt
